<h1>this works...</h1>
<a href="https://bitbucket.org/shura-roman/staatsexamen-geschichte/src/master/index.html">Literatur</a><br>
<iframe src="https://bitbucket.org/shura-roman/staatsexamen-geschichte/src/master/index.html"></iframe>